<div class="wrapper">
  <div class="d-flex justify-content-between">
    <div class="logo">
      <h2>Social<b>Network</b></h2>
    </div>

    <div class="search-bar d-none d-sm-block">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded box-search" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>

    <div class="border">
      <button class="btn"><i class="fa fa-arrow-up"></i> Upload</button>
    </div>

    <div class="account-info">
      <a href="" class="user-info d-flex border">
        <i class="fa fa-user mt-1"></i>
      </a>
      <div class="d-flex flex-column">
        <h5 class="m-0 p-0">Waseem</h5>
        <p class="m-0 p-0">Arshad</p>
      </div>
    </div>
  </div>

  <div class="topnav mt-2 mb-2" id="myTopnav">
    <a href="#home">Videos</a>
    <a href="#news">People</a>
    <a href="#contact">Documents</a>
    <a href="#about">Events</a>
    <a href="#about">Communities</a>
    <a href="#about">Favorites</a>
    <a href="#about">Channel</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xs-12">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="row no-gutters">
              <div class="col-12" style="padding-bottom: 0.5rem; padding-right: 0.5rem;">
                <div class="d-flex justify-content-between">
                  <a>Videos</a>
                  <a>Browse all videos</a>
                </div>
                <div class="lg-tiles">
                  <a href="">{{articles[0].author}}</a>
                </div>
              </div>
              <div class="col-sm-6" style="padding-bottom: 0.5rem; padding-right: 0.5rem;">
                <div class="sm-tiles">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
              <div class="col-sm-6" style="padding-bottom: 0.5rem; padding-right: 0.5rem;">
                <div class="sm-tiles">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <div class="sm-tiles mt-4">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
              <div class="col-md-12" style="padding-top: 0.5rem;">
                <div class="sm-tiles">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
              <div class="col-md-12" style="padding-top: 0.5rem;">
                <div class="sm-tiles-more">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        Activity
        <div class="sidebar">
          <div class="list-group mt-2 mb-2">
            <div class="d-flex">
              <div class="sm-fakeimg"></div>
              <h6 class="m-0 p-0">John Stainior</h6>
              <small>&nbsp; Commented</small>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-9 col-xs-12">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="row no-gutters">
              <div class="col-12" style="padding-bottom: 0.5rem; padding-right: 0.5rem;">
                <div class="d-flex justify-content-between">
                  <a>People</a>
                  <a>View All</a>
                </div>
                <div class="lg-tiles">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
              <div class="col-sm-6" style="padding-bottom: 0.5rem; padding-right: 0.5rem;">
                <div class="sm-tiles">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
              <div class="col-sm-6" style="padding-bottom: 0.5rem; padding-right: 0.5rem;">
                <div class="sm-tiles">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <div class="sm-tiles mt-4">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
              <div class="col-md-12" style="padding-top: 0.5rem;">
                <div class="sm-tiles">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
              <div class="col-md-12" style="padding-top: 0.5rem;">
                <div class="sm-tiles-more">
                  <a href="">How to improve your skill</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        Activity
        <div class="sidebar">
          <div class="list-group mt-2 mb-2">
            <div class="d-flex">
              <div class="sm-fakeimg"></div>
              <h6 class="m-0 p-0">John Stainior</h6>
              <small>&nbsp; Commented</small>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="social-media">
      <div class="social-media-box">
        <a href="https://facebook.com">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="social-media-box">
        <a href="https://facebook.com">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="social-media-box">
        <a href="https://facebook.com">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
    </div>
    <div class="other-link">
      <a href="">About</a>&nbsp;/
      <a href="">For Business</a>&nbsp;/
      <a href="">Suggestion</a>&nbsp;/
      <a href="">Help & FAQs</a>&nbsp;/
      <a href="">Contacts</a>&nbsp;/
      <a href="">Pricing</a>&nbsp;
    </div>
    <p class="copyright-text">Copyright ©
      <script>document.write(new Date().getFullYear());</script>2021 companyname.inc
    </p>
    <div class="other-link">
      <a href="">Privacy</a>&nbsp;/
      <a href="">Terms</a>&nbsp;
    </div>
  </div>
</div>